/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

main > .container {
  padding: 60px 15px 0;
}

.i-large,
.text-title,
.pink-lighten-1{
  color: #F85A40 !important;  
}

.text-dark-blue,
.i-description{
  color: #020C36 !important; 
}

.text-dark-blue:hover{
  /*pink lighten-5*/
  background-color: #fce4ec !important;
  color: #880e4f !important;
}


.bg-pink-lighten-1{
  background-color: #fce4ec !important;
}
.bg-footer,
.carousel-control-next-icon{
  background-color: #F85A40 !important; 
}

.footer-text,
.btn-primary{
  color: white !important;
}


.btn-primary{
  background-color: #f85a40 !important;
  border-color: #fce4ec !important;
  
}

.btn-primary:hover{
  background-color: #ec407a !important;
  border-color: #ec407a !important;
}

.i-large{
  font-size: 100px;
}
 
.i-big,
.text-time{
 color: #9c27b0 !important; 
}

.i-description-section, 
.i-description{
  font-size: 25px;
}

.border{
  border: transparent !important;
}

.card{
  border-radius: none;
  border: none;
}

#adicionatec_text{
  color: #d64c4c !important;
  font-size: 30px;
  margin-left: 5px;
}

main > .container{
  padding: 0;
}